<a href="https://colab.research.google.com/github/Diegogp95/mineria/blob/main/Imputacion_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook test para la integraci√≥n con GitHub

In [1]:
import numpy as np
import pandas as pd
import numpy as np

In [2]:


# Ruta del archivo de texto (.txt)
archivo_txt = "cr2_prDaily_2020_ghcn.txt"

# Leer el archivo de texto
with open(archivo_txt, 'r', encoding='utf-8') as file:
    contenido = file.readlines()

# Limpiar y formatear los datos
contenido = [line.strip().split(',') for line in contenido]

# Convertir a un DataFrame de pandas
df = pd.DataFrame(contenido)

# Guardar el DataFrame como archivo CSV
archivo_csv = "cr2_prDaily_2020_ghcn.csv"
df.to_csv(archivo_csv, index=False)

In [3]:
import pandas as pd

# Ruta del archivo de texto (.txt)
archivo_txt = "cr2_prDaily_2020_stations_ghcn.txt"

# Leer el archivo de texto
with open(archivo_txt, 'r', encoding='utf-8') as file:
    contenido = file.readlines()

# Limpiar y formatear los datos
contenido = [line.strip().split(',') for line in contenido]

# Convertir a un DataFrame de pandas
df = pd.DataFrame(contenido)

# Guardar el DataFrame como archivo CSV
archivo_csv = "cr2_prDaily_2020_stations_ghcn.csv"
df.to_csv(archivo_csv, index=False)

In [4]:
df = pd.read_csv("cr2_prDaily_2020_stations_ghcn.csv", header=0)

# Asignar la primera fila como encabezado
df.columns = df.iloc[0]

# Eliminar la primera fila (antiguo encabezado)
df = df[1:]

# Reiniciar los √≠ndices del DataFrame
df.reset_index(drop=True, inplace=True)

df

,codigo_estacion,institucion,fuente,nombre,altura,latitud,longitud,codigo_cuenca,nombre_cuenca,codigo_sub_cuenca,nombre_sub_cuenca,inicio_observaciones,fin_observaciones,cantidad_observaciones,inicio_automatica
0,1000005,DGA,dga_web,Visviri,4080,-17.595,-69.4831,10.0,Altiplanicas,100.0,Entre Limite Peru-Bolivia Y Rio Lauca,1968-05-01,2020-03-31,18258,2017-08-02
1,1200002,DGA,dga_web,Villa Industrial (Tacora),4080,-17.7719,-69.7244,12.0,Rio Lluta,120.0,Rio Lluta Alto,1975-01-01,2019-11-30,15794,-
2,1200003,DGA,dga_web,Humapalca,3980,-17.835,-69.7039,12.0,Rio Lluta,120.0,Rio Lluta Alto,1971-12-01,2019-11-30,17362,-
3,1201005,DGA,dga_web,Rio Caracarani En Humapalca,3908,-17.8428,-69.6994,12.0,Rio Lluta,120.0,Rio Lluta Alto,2013-06-01,2020-03-31,2211,2017-04-04
4,1201010,DGA,dga_web,Alcerreca,3990,-17.9931,-69.6594,12.0,Rio Lluta,120.0,Rio Lluta Alto,1971-01-01,2019-11-30,17563,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1249,AYW00068201,GHCN,ghcn_ftp,Byrd Stn,1543,-80.0167,-119.53299999999999,NaN,NaN,NaN,NaN,1957-01-10,1988-01-31,5729,-
1250,AYW00068701,GHCN,ghcn_ftp,Brockton Stn,101,-80.0167,-178.417,NaN,NaN,NaN,NaN,1966-01-01,1969-12-28,276,-
1251,AYW00088703,GHCN,ghcn_ftp,Little Jeana Stn,54,-81.3833,170.75,NaN,NaN,NaN,NaN,1964-10-04,1966-01-22,226,-
1252,AYW00088702,GHCN,ghcn_ftp,Beardmore Camp,59,-83.4,174.75,NaN,NaN,NaN,NaN,1959-10-18,1963-02-28,417,-
1253,AYW00090001,GHCN,ghcn_ftp,Amundsen-Scott,-1000,-90.0,0.0,NaN,NaN,NaN,NaN,1957-01-09,1996-11-30,13891,-

In [3]:
df = df.dropna()
df

,0,1,2,3,4,5,6,7,8,9,...,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254
0,codigo_estacion,01000005,01200002,01200003,01201005,01201010,01201003,01001005,01110001,01202009,...,AYM00089664,AYW00067601,AYM00089606,AYW00067401,AYW00077401,AYW00068201,AYW00068701,AYW00088703,AYW00088702,AYW00090001
1,institucion,DGA,DGA,DGA,DGA,DGA,DGA,DGA,DGA,DGA,...,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN
2,fuente,dga_web,dga_web,dga_web,dga_web,dga_web,dga_web,dga_web,dga_web,dga_web,...,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp
3,nombre,Visviri,Villa Industrial (Tacora),Humapalca,Rio Caracarani En Humapalca,Alcerreca,Rio Lluta En Alcerreca,Caquena,Puquios,Pacollo,...,Mcmurdo Sound Naf,Little America,Vostok,Little Rockford,Plateau Stn,Byrd Stn,Brockton Stn,Little Jeana Stn,Beardmore Camp,Amundsen-Scott
4,altura,4080,4080,3980,3908,3990,3550,4400,3750,4185,...,24,32,3488,651,3505,1543,101,54,59,-1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5185,1914-02-27,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5186,1914-02-28,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5187,1914-03-01,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5188,1914-03-02,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5189,1914-03-03,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [4]:
#imputacion media -> No funciona porq solo es para datos num√©ricos
import pandas as pd
from sklearn.impute import SimpleImputer
imputador = SimpleImputer(strategy='mean')
imputador.fit(df)
df_imputado = pd.DataFrame(imputador.transform(df), columns=df.columns)
df_imputado

ValueError: ignored

In [5]:
#imputacion valor mas frecuente
import pandas as pd
from sklearn.impute import SimpleImputer
imputador = SimpleImputer(strategy='most_frequent')
imputador.fit(df)
df_imputado = pd.DataFrame(imputador.transform(df), columns=df.columns)
df_imputado

,0,1,2,3,4,5,6,7,8,9,...,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254
0,codigo_estacion,01000005,01200002,01200003,01201005,01201010,01201003,01001005,01110001,01202009,...,AYM00089664,AYW00067601,AYM00089606,AYW00067401,AYW00077401,AYW00068201,AYW00068701,AYW00088703,AYW00088702,AYW00090001
1,institucion,DGA,DGA,DGA,DGA,DGA,DGA,DGA,DGA,DGA,...,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN
2,fuente,dga_web,dga_web,dga_web,dga_web,dga_web,dga_web,dga_web,dga_web,dga_web,...,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp
3,nombre,Visviri,Villa Industrial (Tacora),Humapalca,Rio Caracarani En Humapalca,Alcerreca,Rio Lluta En Alcerreca,Caquena,Puquios,Pacollo,...,Mcmurdo Sound Naf,Little America,Vostok,Little Rockford,Plateau Stn,Byrd Stn,Brockton Stn,Little Jeana Stn,Beardmore Camp,Amundsen-Scott
4,altura,4080,4080,3980,3908,3990,3550,4400,3750,4185,...,24,32,3488,651,3505,1543,101,54,59,-1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5185,1914-02-27,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5186,1914-02-28,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5187,1914-03-01,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5188,1914-03-02,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5189,1914-03-03,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [6]:
#Valor espec√≠fico
imputador = SimpleImputer(strategy='constant', fill_value='Desconocido')
imputador.fit(df)
df_imputado2 = pd.DataFrame(imputador.transform(df), columns=df.columns)
df_imputado2

,0,1,2,3,4,5,6,7,8,9,...,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254
0,codigo_estacion,01000005,01200002,01200003,01201005,01201010,01201003,01001005,01110001,01202009,...,AYM00089664,AYW00067601,AYM00089606,AYW00067401,AYW00077401,AYW00068201,AYW00068701,AYW00088703,AYW00088702,AYW00090001
1,institucion,DGA,DGA,DGA,DGA,DGA,DGA,DGA,DGA,DGA,...,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN
2,fuente,dga_web,dga_web,dga_web,dga_web,dga_web,dga_web,dga_web,dga_web,dga_web,...,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp
3,nombre,Visviri,Villa Industrial (Tacora),Humapalca,Rio Caracarani En Humapalca,Alcerreca,Rio Lluta En Alcerreca,Caquena,Puquios,Pacollo,...,Mcmurdo Sound Naf,Little America,Vostok,Little Rockford,Plateau Stn,Byrd Stn,Brockton Stn,Little Jeana Stn,Beardmore Camp,Amundsen-Scott
4,altura,4080,4080,3980,3908,3990,3550,4400,3750,4185,...,24,32,3488,651,3505,1543,101,54,59,-1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5185,1914-02-27,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5186,1914-02-28,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5187,1914-03-01,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5188,1914-03-02,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
5189,1914-03-03,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [ ]:
#Interpolacion
columnas_numericas = df.select_dtypes(include=[np.number]).columns
df_imputado3 = df[columnas_numericas].interpolate(method='linear')
df_imputado3

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[879 rows x 0 columns]

In [ ]:
#Basada en modelos
from sklearn.impute import KNNImputer

#columnas categ√≥ricas para la codificaci√≥n one-hot
columnas_categoricas = df.select_dtypes(include=['object']).columns

#codificaci√≥n one-hot a columnas categ√≥ricas
df_encoded = pd.get_dummies(df, columns=columnas_categoricas)

#imputaci√≥n con KNN
imputador = KNNImputer(n_neighbors=5)
df_imputado4 = pd.DataFrame(imputador.fit_transform(df_encoded), columns=df_encoded.columns)
df_imputado4

,codigo_estacion_1000005,codigo_estacion_1001005,codigo_estacion_10100002,codigo_estacion_10100004,codigo_estacion_10100005,codigo_estacion_1010007,codigo_estacion_1010008,codigo_estacion_1010009,codigo_estacion_1010010,codigo_estacion_10102002,...,inicio_automatica_2019-04-01,inicio_automatica_2019-04-02,inicio_automatica_2019-04-05,inicio_automatica_2019-05-06,inicio_automatica_2019-07-19,inicio_automatica_2019-09-05,inicio_automatica_2019-11-05,inicio_automatica_2019-12-14,inicio_automatica_2020-01-29,inicio_automatica_2020-03-06
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
!pip install fancyimpute

Collecting fancyimpute
  Downloading fancyimpute-0.7.0.tar.gz (25 kB)
Collecting knnimpute>=0.1.0
  Downloading knnimpute-0.1.0.tar.gz (8.3 kB)
Requirement already satisfied: scikit-learn>=0.24.2 in c:\users\karol\anaconda3\lib\site-packages (from fancyimpute) (1.0.2)
Collecting cvxpy
  Downloading cvxpy-1.3.2-cp39-cp39-win_amd64.whl (892 kB)
Collecting cvxopt
  Downloading cvxopt-1.3.1-cp39-cp39-win_amd64.whl (12.8 MB)
Requirement already satisfied: pytest in c:\users\karol\anaconda3\lib\site-packages (from fancyimpute) (7.1.1)
Requirement already satisfied: nose in c:\users\karol\anaconda3\lib\site-packages (from fancyimpute) (1.3.7)
Requirement already satisfied: six in c:\users\karol\anaconda3\lib\site-packages (from knnimpute>=0.1.0->fancyimpute) (1.16.0)
Requirement already satisfied: numpy>=1.10 in c:\users\karol\anaconda3\lib\site-packages (from knnimpute>=0.1.0->fancyimpute) (1.21.5)
Requirement already satisfied: scipy>=1.1.0 in c:\users\karol\anaconda3\lib\site-packages (from scikit-learn>=0.24.2->fancyimpute) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\karol\anaconda3\lib\site-packages (from scikit-learn>=0.24.2->fancyimpute) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\karol\anaconda3\lib\site-packages (from scikit-learn>=0.24.2->fancyimpute) (1.1.0)
Collecting scs>=1.1.6
  Downloading scs-3.2.3-cp39-cp39-win_amd64.whl (8.2 MB)
Collecting ecos>=2
  Downloading ecos-2.0.12-cp39-cp39-win_amd64.whl (72 kB)
Collecting osqp>=0.4.1
  Downloading osqp-0.6.3-cp39-cp39-win_amd64.whl (292 kB)
Collecting setuptools>65.5.1
  Downloading setuptools-68.0.0-py3-none-any.whl (804 kB)
Collecting qdldl
  Downloading qdldl-0.1.7-cp39-cp39-win_amd64.whl (83 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\karol\anaconda3\lib\site-packages (from pytest->fancyimpute) (21.4.0)
Requirement already satisfied: iniconfig in c:\users\karol\anaconda3\lib\site-packages (from pytest->fancyimpute) (1.1.1)
Requirement already satisfied: packaging in c:\users\karol\anaconda3\lib\site-packages (from pytest->fancyimpute) (21.3)
Requirement already satisfied: pluggy<2.0,>=0.12 in c:\users\karol\anaconda3\lib\site-packages (from pytest->fancyimpute) (1.0.0)
Requirement already satisfied: py>=1.8.2 in c:\users\karol\anaconda3\lib\site-packages (from pytest->fancyimpute) (1.11.0)
Requirement already satisfied: tomli>=1.0.0 in c:\users\karol\anaconda3\lib\site-packages (from pytest->fancyimpute) (1.2.2)
Requirement already satisfied: atomicwrites>=1.0 in c:\users\karol\anaconda3\lib\site-packages (from pytest->fancyimpute) (1.4.0)
Requirement already satisfied: colorama in c:\users\karol\anaconda3\lib\site-packages (from pytest->fancyimpute) (0.4.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\karol\anaconda3\lib\site-packages (from packaging->pytest->fancyimpute) (3.0.4)
Building wheels for collected packages: fancyimpute, knnimpute
  Building wheel for fancyimpute (setup.py): started
  Building wheel for fancyimpute (setup.py): finished with status 'done'
  Created wheel for fancyimpute: filename=fancyimpute-0.7.0-py3-none-any.whl size=29899 sha256=54e199c49eaf711b3c0778f75da5bee5e840ab31b6e265d009fd29b172286c42
  Stored in directory: c:\users\karol\appdata\local\pip\cache\wheels\f9\fc\6a\b0406b906bce293abe23c3b6da5a72637d2d04146ef1125a0b
  Building wheel for knnimpute (setup.py): started
  Building wheel for knnimpute (setup.py): finished with status 'done'
  Created wheel for knnimpute: filename=knnimpute-0.1.0-py3-none-any.whl size=11353 sha256=f6149053409ba96e74b83419cc8e14bea7bae5ebc07f53b47360230b39b01dc0
  Stored in directory: c:\users\karol\appdata\local\pip\cache\wheels\88\c4\be\e232c750d9bc360abf9a5e2cafe0d3e08e3605d2801bb11684
Successfully built fancyimpute knnimpute
Installing collected packages: qdldl, setuptools, scs, osqp, ecos, knnimpute, cvxpy, cvxopt, fancyimpute
  Attempting uninstall: setuptools
    Found existing installation: setuptools 61.2.0
    Uninstalling setuptools-61.2.0:
      Successfully uninstalled setuptools-61.2.0
Successfully installed cvxopt-1.3.1 cvxpy-1.3.2 ecos-2.0.12 fancyimpute-0.7.0 knnimpute-0.1.0 osqp-0.6.3 qdldl-0.1.7 scs-3.2.3 setuptools-68.0.0

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spyder 5.1.5 requires pyqt5<5.13, which is not installed.
spyder 5.1.5 requires pyqtwebengine<5.13, which is not installed.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.
anaconda-project 0.10.2 requires ruamel-yaml, which is not installed.

In [ ]:
#imputacion multiple
from sklearn.impute import SimpleImputer

# Crear una instancia de SimpleImputer con la estrategia 'most_frequent'
imputador = SimpleImputer(strategy='most_frequent')

# Imputar los valores faltantes en el DataFrame
df_imputado5 = pd.DataFrame(imputador.fit_transform(df), columns=df.columns)

df_imputado5

,codigo_estacion,institucion,fuente,nombre,altura,latitud,longitud,codigo_cuenca,nombre_cuenca,codigo_sub_cuenca,nombre_sub_cuenca,inicio_observaciones,fin_observaciones,cantidad_observaciones,inicio_automatica
0,1000005,DGA,dga_web,Visviri,4080,-17.595,-69.4831,10.0,Altiplanicas,100.0,Entre Limite Peru-Bolivia Y Rio Lauca,1968-05-01,2020-03-31,18258,2017-08-02
1,1200002,DGA,dga_web,Villa Industrial (Tacora),4080,-17.7719,-69.7244,12.0,Rio Lluta,120.0,Rio Lluta Alto,1975-01-01,2019-11-30,15794,-
2,1200003,DGA,dga_web,Humapalca,3980,-17.835,-69.7039,12.0,Rio Lluta,120.0,Rio Lluta Alto,1971-12-01,2019-11-30,17362,-
3,1201005,DGA,dga_web,Rio Caracarani En Humapalca,3908,-17.8428,-69.6994,12.0,Rio Lluta,120.0,Rio Lluta Alto,2013-06-01,2020-03-31,2211,2017-04-04
4,1201010,DGA,dga_web,Alcerreca,3990,-17.9931,-69.6594,12.0,Rio Lluta,120.0,Rio Lluta Alto,1971-01-01,2019-11-30,17563,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,420004,DMC,dmc_web,Chaiten Ad.,10,-42.9303,-72.7008,104.0,Cuencas E Islas Entre R.Bueno Y R. Puelo,1040.0,Costeras Entre Rio Bueno Y Rio Maullin,1965-11-01,2008-04-30,11991,-
875,430002,DMC,dmc_web,Futaleufu Ad.,347,-43.1889,-71.8525,104.0,Cuencas E Islas Entre R.Bueno Y R. Puelo,1040.0,Costeras Entre Rio Bueno Y Rio Maullin,1953-12-31,2020-03-31,23529,-
876,430004,DMC,dmc_web,Alto Palenaad.,281,-43.6117,-71.8053,104.0,Cuencas E Islas Entre R.Bueno Y R. Puelo,1040.0,Costeras Entre Rio Bueno Y Rio Maullin,1961-11-30,2020-03-31,20232,-
877,510005,DMC,dmc_web,Teniente Gallardo Puerto Natales Ad.,69,-51.6672,-72.5289,122.0,Costeras Entre Seno Andrew Y R. Hollemberg E I...,1229.0,Costeras Entre Rio Serrano Y Rio Hollenberg,1998-12-31,2020-03-31,5628,-
878,530005,DMC,dmc_web,Fuentes Martinez Porvenir Ad.,27,-53.1875,-70.3203,128.0,Tierra Del Fuego,1280.0,Costeras Del Estrecho Magallanes Entre Fronter...,1985-03-31,2020-03-31,11892,-

In [ ]:

df_precip = pd.read_csv("cr2_prDaily_2020_ghcn.csv", header=0)
# Asignar la primera fila como encabezado
# Asignar la primera fila como encabezado
df_precip.columns = df_precip.iloc[0]

# Eliminar la primera fila (antiguo encabezado)
df_precip = df_precip[1:]

# Reiniciar los √≠ndices del DataFrame
df_precip.reset_index(drop=True, inplace=True)

# Ahora df_precip contendr√° los datos con la primera fila como encabezado

# Puedes verificar los nombres de las columnas
df_precip

C:\Users\karol\AppData\Local\Temp\ipykernel_14232\3964907674.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254) have mixed types. Specify dtype option on import or set low_memory=False.
  df_precip = pd.read_csv("cr2_prDaily_2020_ghcn.csv", header=0)

,codigo_estacion,01000005,01200002,01200003,01201005,01201010,01201003,01001005,01110001,01202009,...,AYM00089664,AYW00067601,AYM00089606,AYW00067401,AYW00077401,AYW00068201,AYW00068701,AYW00088703,AYW00088702,AYW00090001
0,institucion,DGA,DGA,DGA,DGA,DGA,DGA,DGA,DGA,DGA,...,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN,GHCN
1,fuente,dga_web,dga_web,dga_web,dga_web,dga_web,dga_web,dga_web,dga_web,dga_web,...,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp,ghcn_ftp
2,nombre,Visviri,Villa Industrial (Tacora),Humapalca,Rio Caracarani En Humapalca,Alcerreca,Rio Lluta En Alcerreca,Caquena,Puquios,Pacollo,...,Mcmurdo Sound Naf,Little America,Vostok,Little Rockford,Plateau Stn,Byrd Stn,Brockton Stn,Little Jeana Stn,Beardmore Camp,Amundsen-Scott
3,altura,4080,4080,3980,3908,3990,3550,4400,3750,4185,...,24,32,3488,651,3505,1543,101,54,59,-1000
4,latitud,-17.595,-17.7719,-17.835,-17.8428,-17.9931,-18.0036,-18.0542,-18.1747,-18.1769,...,-77.8833,-78.2,-78.45,-79.25,-79.4667,-80.0167,-80.0167,-81.3833,-83.4,-90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43929,2020-03-27,0.2,-9999.0,-9999.0,0.0,-9999.0,0.0,-9999.0,-9999,-9999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43930,2020-03-28,0.8,-9999.0,-9999.0,0.1,-9999.0,0.0,-9999.0,-9999,-9999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43931,2020-03-29,0.4,-9999.0,-9999.0,0.0,-9999.0,0.0,-9999.0,-9999,-9999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43932,2020-03-30,0.0,-9999.0,-9999.0,0.0,-9999.0,0.0,-9999.0,-9999,-9999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43933,2020-03-31,0.0,-9999.0,-9999.0,2.6,-9999.0,0.5,-9999.0,-9999,-9999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN